<h1>This is about me. All about me.</h1>
<h2>Ch..ch..ch...changes (turn and face the strange)</h2>
<h3>4...3...2...1...Earth below us, drifting, falling, floating weightless, calling home</h3>

<h1>This is NOT about me</h1>
<h2>You consider me a young apprentice / caught between the Scylla and Charybdis</h2>
<h3>A modern day warror / mean, mean stride / Today's Tom Sawyer / mean, mean pride</h3>

<h1>This is something completely different</h1>
<h2>Just a small town girl/Living in a lonely world</h2>
<h2>JUST A CIIITITTTYYY BOOOOOOOY </h2>
<h3>Don't wish it away / don't look at it like it's forever</h3>
