<h1>This is about me. All about me.</h1>
<h2>You consider me a young apprentice / caught between the Scylla and Charybdis</h2>
<h3>A modern day warror / mean, mean stride / Today's Tom Sawyer / mean, mean pride</h3>